{% extends "base.html" %}

{% block title %} Homepage {% endblock %}

{% block content %}
	<p><H1>Public profile of {{ user_controller.the_user.username }}</H1></p>
	<div id="userProfile" class="contentBorder contentField innerContentBorder">
		<form action="/account/" enctype="multipart/form-data" method="POST">{% csrf_token %}
		<table>
		{{ profile_form.as_table }}
		</table>
		<input type="submit" value="submit" />
		</form>
	</div>
	<p />
	<p><H1>Private account information</H1></p>
	<div id="account" class="contentBorder contentField innerContentBorder">
		<form action="/account/" method="POST">{% csrf_token %}
		<table>
		{{ account_form.as_table }}
		</table>
		<input type="submit" value="submit" />
		</form>
	</div>
{% endblock %}