{% load staticfiles %}
<html>
	<head>
		<title>{% block title %}{% endblock %}</title>
		<link rel="stylesheet" type="text/css" href="{% static 'Site.css' %}" />
		<link rel="stylesheet" type="text/css" href="{% static 'scripts/lib/jquery-ui.min.css' %}" />
		<script type="text/javascript">
			userID = 
			{% if user.is_authenticated %}
				"{{ user.guid }}";
			{% else %}
				"0";
			{% endif %}
		</script>
		<script data-main="{% static 'scripts/main' %}" src="{% static 'scripts/require.js' %}"></script>
	</head>o
	<body>
	    <div class="page">
	        <header>
	            <div id="title">
	                <a href="/"><img width="100px" src="{% static 'images/logo.png' %}"></a>
	            </div>
	            <div id="logindisplay" class="contentField">
	                {% include "logOnDisplay.html" %}
	            </div>
	            <br style="clear:both;" />
	        </header>
	        <section id="main">
				{% block content %}{% endblock %}
	        </section>
	        <footer class="contentField">
	            <nav>
	                <ul id="menu">
	                    <li>Home</li>
	                    <li>About</li>
	                </ul>
	            </nav>
	        </footer>
	    </div>

	    <div id="dialogDummy" />
	</body>
</html>