{% extends "base.html" %}

{% block title %} Homepage {% endblock %}

{% block content %}
	<script type="text/javascript">
		var urlMsgId = "{{ urlMsgId }}";
	</script>
{% if no_message_selected %}
	<div id="createMessage" class="contentField innerContentBorder">
		<form action="/" method="POST">{% csrf_token %}
		{{ entermsg_form.as_p }}
		<input type="submit" value="submit" />
		</form>
	</div>
{% endif %}
	<br />
	<div class="contentField innerContentBorder" id="messages">
	</div>
{% endblock %}