{% extends "base.html" %}

{% block content %}
<div class="contentColours innerContentBorder">
	<fieldset id="newNotifications">
		<legend>New:</legend>
		{% for notification in notifications %}
			{% if notification.new %}
				{{ notification.text|safe }}<br />
			{% endif %}
		{% endfor %}
	</fieldset>
	<fieldset id="notifications">
		<legend>Already read:</legend>
		{% for notification in notifications %}
			{% if not notification.new %}
				{{ notification.text|safe }}<br />
			{% endif %}
		{% endfor %}
	</fieldset>
</div>
{% endblock %}
